body { background-color: #fff; padding: 20px; }

#myQuiz {
   font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 400;
   width:650px; 
   height:650px;
   position:relative;
   margin:0 auto;
   overflow:hidden;
   color:#fff;
   background:#000;
   
}
#myQuiz h1 {
	font-weight:100;
	font-size: 2em;
	text-transform: uppercase;
	margin:0px;
	position:absolute;
	top:25px;
	left:36px;
}

#myQuiz h1 span{
	display: block;
	font-weight:900;
	font-family:'Titillium Web', sans-serif;
	font-size:4em;
	line-height:65px;
}

#myQuiz h2 {
	font-size:3em;
	margin:0px;
	font-weight:100;
}

#myQuiz h3 {
	font-size:2.4em;
	margin:0px;
	font-weight:100;
}
#myQuiz p {
	margin:0px 0px 14px 0px;
}
#myQuiz .btn{
	display: inline-block;
	cursor: pointer;
	background:#fe0b14;
	color: #fff;
	text-decoration: none;
	padding:5px 15px;
	border: 1px inset rgba(0,0,0,0.5);
	border-bottom: 3px inset rgba(0,0,0,0.5); 
	border-radius: 5px;
	margin-top:5%;
	text-shadow:-1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px 1px 0 #000;
	box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);	
	text-transform:uppercase;
}

#myQuiz .btn:hover{
	background:#CB0106;
	border: 1px outset rgba(0,0,0,0.5);
	border-bottom: 3px outset rgba(0,0,0,0.5);}

/* Progress Bar*/
#myQuiz .progress {
	width: 550px;
	position:absolute;
	top:160px;
	left:40px;
}
#myQuiz .progress div {
	position: relative;
	display:inline-block;
	width:22px;
	height:22px;
	margin-right: 20px;
	border-radius:50%;
	background-color: rgba(255,255,255,.2);
	transition: background-color 1s;
	
	
}


#myQuiz .progress div.on {
	background-color: #ffd117;
}

/* Intro  */
#myQuiz .intro {
	position: absolute;
	top: 225px;
	left: 660px;
	width: 550px;
}
#myQuiz .intro p {
	margin:0px 0px 40px 0px;
}
/*Questions*/
#myQuiz .question, #myQuiz .alert{
	width: 550px;
	position: absolute;
	top: 225px;
	left: 660px;
}
#myQuiz .alert{
	font-size: 2em;
	color:#ffd117;}

#myQuiz .question .qst {
	font-size:1.6em;
	margin:0px 0px 20px 0px;
}

#myQuiz .question .ans {
	display:inline-block;
	font-size: 1.1em;
	width: auto;
	
	margin: 0px 15px 15px 0px;
	position: relative;
}
#myQuiz input[type="radio"]{
	cursor:pointer;}

#myQuiz input[type="radio"]:checked + label {
	border: 2px solid rgba(255,255,255,.4);
	border-radius: 5px;
	padding: 10px;
	
	}
	
#q8-method-ans{
	margin-top:5%;
	}	
#q12-method-ans{
	width:60%;
	}


/*Results*/

#myQuiz .results {
	position: absolute;
	top: 225px;
	left:660px;
	width:550px;
}


#myQuiz .active, #myQuiz .inactive {
	transition: left 1.5s ease-in-out;
}

	
#myQuiz .active { 
	left:40px;
}
#myQuiz .intro.inactive, #myQuiz.inactive.answered {
	left:-1350px;
}
#myQuiz .final {
	background:#000;
	color:#fff;
	border:none;
	font-size:2em;
	width:auto;
	margin-left:45%;}
#myQuiz .ttl{
	margin-left:40.5%;
	}
.results #txt-estimate{
	margin-bottom:15%;
	}
#quest-7 .hide {
	display:none;} 
#creditscale option{
	color:#fff;
	}				

@media screen and (max-width:650px) {
	body{
		 padding:0px;
		 margin:0px}
	#myQuiz {
		width:320px;
		background-size:320px auto;}
	#myQuiz h1 {
		width:300px;
		font-size:1.3em; 
		top:25px;
		left:25px;}
	#myQuiz h1 span {
		line-height:43px;}
	
	#myQuiz .progress {
		width:300px;
		top:110px;
		left:25px;}
	#myQuiz .progress div{
		width:25px;
		height:25px;
		margin-right:20px;}
	#myQuiz .progress div::after {
		top:-30px;
		width:53px;
		height:33px;}
	#myQuiz .intro {
		width:300px;
		top:165px;
		left:330px;}	
	#myQuiz .question {
		width:300px;
		top:165px;
		left:330px;
		}	
	#myQuiz .question .qst{
		font-size:1.4em;
		margin-bottom:15px;}
	#myQuiz .question .ans {
		font-size:.75em;
		padding:5px 5px;
		margin-bottom:10px;}
	#myQuiz .alert{
		font-size: 1.4em;
		width:260px;}	
	#q12-method-ans{
	width:50%;
	}
	#myQuiz .results {
		width:260px;
		top:180px;
		left:330px;}
	#myQuiz .results share {
		margin-top:20px;}
	#myQuiz .results a.btn {
		margin-bottom:20px;}
	#myQuiz .active {
		left:25px;}
	#myQuiz .intro.inactive, #myQuiz .inactive.answered{
		left:-650px;} 
		
			
	
	}